/* Desenvolva sua estilização aqui...*/

.container_main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.container_sugested {
    max-width: 50%;
    height: 35%;
    gap: 20px;
    color: var(--color-grey-7);
}

.container_sugested_texts > h2 {
    margin-bottom: 40px;    
}

.container_search_users {
    max-width: 50%;
    max-height: 50%;
    display: flex;
    color: var(--color-grey-7);
    gap: 15px;
}

.container_search_users > h2{
    margin-bottom: 20px;
}

.container_search_users > form > input {
    width: 316px;
    height: 38px;
    color: var(--color-grey-7);
    border: 1px solid var(--color-grey-7);
    border-radius: 4px;
    background-color: var(--color-grey-2);
}

.container_search_users > button{
    background-color: #D6336C;
    width: 316px;
    height: 38px;
    border-radius: 4px; 
    color: var(--color-grey-7);
    cursor: pointer;
    border: none;
}

.red {
    color: red;
}

.deactivated{
    opacity: 0.4;
}

.activated{
    opacity: 1;
}

.button {
    margin-top: 15px;
    background-color: #D6336C;
    width: 316px;
    height: 38px;
    border-radius: 4px; 
    color: var(--color-grey-7);
    cursor: pointer;
    border: none;
}
.buttonImg{
    height: 25px;
    animation: rotacao 0.6s linear infinite;
}

@keyframes rotacao {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg) ;
    }

}




